# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Python
proto/__pycache__/
proto/*.pyc
.env

# C++ Build
build/
*.o
*.a
*.so
*.dll
*.exe

# Qt
*.pro.user
moc_*.cpp
qrc_*.cpp
ui_*.h

# IDE
.vscode/
.idea/
*.swp
.DS_Store